@use "../../index.scss" as *;

.hero {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;

  &__text-container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    max-width: 120%;
    object-fit: cover;
  }
}
