@use "../../index.scss" as *;

.header {
  min-height: 10vh;
  width: min(180ch, 100vw - 2.3rem);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
