@use "../../index.scss" as *;

.features {
  width: 100%;
  background: linear-gradient(rgb(255, 255, 255), rgba(153, 130, 255, 0.102));
  padding-bottom: 8rem;

  &__container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  &__header {
    background: $gradient-color-1;
    padding: 2rem;
    border-radius: 10px;
  }
}
