@use "../../index.scss" as *;

.features {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(rgb(255, 255, 255), rgba(153, 130, 255, 0.102));
  padding-bottom: 15rem;

  &__container {
    width: min(180ch, 100vw - 3rem);
    margin: 0 auto;
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &__header {
    background: $gradient-color-1;
    padding: 2rem;
    border-radius: 10px;

    @media (min-width: 650px) {
      padding-top: 5rem;
    }
  }
}
